transformers==4.35.2
adapters==0.1.1
torch==2.1.0
datasets==2.14.6

nlpaug==1.1.10 # for backtranslation experiments
spacy==3.7.2 # linguistic annotations
bert-extractive-summarizer==0.10.1 # summarization
